body > header {
    width: 90%;
    height: calc(5vh + 10px);
    padding: 3vh 5%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: fixed;
    z-index: 10;
    box-shadow: var(--chocolate-cosmos) 0px 0px 0px;
}

#menu-toggle {
    display: none;
}

html:not([data-scroll='0']) > body > header {
    background-color: var(--page-bg);
    box-shadow: var(--chocolate-cosmos) 0px 0px 10px;
}

body > header a {
    background: none;
    color: #fff;
    transition: all 0.5s linear;
}

html:not([data-scroll='0']) > body > header a {
    color: var(--claret);
}

body > header > a {
    padding: 5px 0;
    height: fit-content;
    width: fit-content;
}

#header-logo {
    display: block;
    fill: #000;
    height: 5vh;
    width: auto;
    transition: all 0.5s linear;
}

html[data-scroll='0'] #header-logo > * {
    fill: #fff;
}

#header-logo > :nth-child(5) {
    fill: var(--red);
}

body > header > nav {
    width: 60%;
    height: fit-content;
}

body > header > nav ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    display: flex;
}

body > header > nav > ul > li {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
}

body > header > nav > ul > li > a {
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 5px 0px 5px 5px;
}

body > header > nav > ul > li > a:hover {
    color: var(--default-color);
}

body > header > nav > ul > li > ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 5px 5px 10px;
}

body > header > nav > ul > li > ul > li > a {
    color: var(--claret);
    font-weight: 400;
    display: flex;
    width: 90%;
}

body > header > nav > ul > li > ul > li > a:hover {
    color: var(--default-color);
}

body > header > nav > ul > li > a::before,
body > header > nav > ul > li > ul > li > a::before {
    content: '>';
    display: block;
    padding: 0 1ch;
    font-weight: 300;
    transition: all 0.5s linear;
}

body > header > nav > ul > li:hover > a:not(:last-child)::before {
    transform: rotate(90deg);
}

body > header > nav > ul > li > ul > li > a:hover::before {
    animation: bounce-x 1s infinite ease-in-out;
}

@keyframes bounce-x {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}

body > header > nav > ul > li:hover {
    background-color: var(--cherry-blossom-pink);
    box-shadow: var(--chocolate-cosmos) 0px 2px 5px;
}

body > header > nav > ul > li:hover > a {
    color: #000;
}

body > header > nav > ul > li:hover > ul {
    display: flex;
}

@media screen and (orientation: portrait) {

    body > header {
        width: 90%;
        margin: 0;
        padding: 3vh 5%;
        align-items: center;
    }
    
    body > header > #menu-toggle:not(:checked) ~ nav {
        transform: translateX(100vw);
        transition: all 0.5s ease-in-out;
    }

    body > header > nav {
        transform: translateX(0);
        position: fixed;
        top: 0;
        right: 0;
        width: 90vw;
        height: 90vh;
        padding: 10vh 5vw 5vh;
        display: flex;
        flex-direction: column;
        background-color: var(--cherry-blossom-pink);
    }

    body > header > nav > ul,
    body > header > nav > ul > li > ul {
        display: flex;
        flex-direction: column;
    }

    body > header > nav > ul > li > a::before {
        transform: rotate(90deg);
    }

    body > header > nav > ul > li {
        width: 100%;
        box-shadow: var(--chocolate-cosmos) 0px 2px 5px;
    }

    body > header > nav a {
        color: var(--default-color);
    }

    #sandwich {
        --sandwich-color: #fff;
        display: block;
        width: 30px;
        height: 5px;
        background-color: var(--sandwich-color);
        position: relative;
        transition: all 0.5s linear;
        z-index: 100;
    }

    html:not([data-scroll='0']) #sandwich {
        --sandwich-color: var(--chocolate-cosmos);
    }

    #sandwich::before, #sandwich::after {
        content: '';
        width: 30px;
        height: 5px;
        background-color: var(--sandwich-color);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -10px);
        transition: all 0.5s linear;
    }

    #sandwich::after {
        transform: translate(0, 10px);
    }

    #menu-toggle:checked ~ #sandwich {
        transform: rotate(45deg);
    }

    #menu-toggle:checked ~ #sandwich::before,
    #menu-toggle:checked ~ #sandwich::after {
        transform: translate(0,0) rotate(-90deg);
    }

}