:root {
    --red: #ff0000;
    --black-olive: #1f271b;
    --mint-cream: #f1f7ed;
    --reseda-green: #7D8570;
    --nyanza: #e0eec6;
    --page-bg: var(--mint-cream);
}

* {
    font-family: 'Anybody', sans-serif;
    color: #222222;
    font-weight: 600;
}

html,body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--page-bg);
}

a {
    color: var(--reseda-green);
    text-decoration: none;
}