#homepage #banner {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 75vh;
    height: max-content;
    width: 80%;
    padding: 20vh 10% 15vh;
    justify-content: flex-end;
    margin: 0 auto;
}

#homepage #banner > * {
    margin: 0;
    width: 80%;
}

#homepage #banner * {
    color: var(--base-color);
}

#homepage > main > section:nth-of-type(2) {
    position: relative;
}

#homepage > main > section:nth-of-type(2)::before {
    content: '';
    width: 100vw;
    height: 10vh;
    background-color: var(--base-color);
    position: absolute;
    top: -9vh;
    left: -5vw;
    clip-path: url(#wave);
}

#homepage #banner figure.cover {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    margin: 0;
}

#homepage #banner figure.cover > img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    object-fit: cover;
    filter: brightness(0.5) blur(3px);
    transform: scale(1.05);
}

#homepage h1 {
    font-weight: 300;
    padding-bottom: 0.25em;
    font-family: var(--aux-font);
    font-size: 2em;
    line-height: 0.9;
}

#homepage #banner em {
    background-color: var(--red);
}

#homepage h2 {
    font-weight: 400;
}

#homepage #banner h2 {
    padding-top: 1em;
}

#homepage #banner h2 > a {
    font-weight: inherit;
}

#homepage #banner ol {
    font-size: 0.75em;
}

#homepage #banner ol > li {
    margin-top: 1em;
    counter-increment: list;
}

#homepage #banner ol > li::marker {
    display: block;
    font-weight: bolder;
    color: var(--red);
    content: counter(list, upper-roman) ')  ';
}

#log {
    padding: 0 0 10vh;
}

#log > h2 {
    padding-bottom: .5em;
}

#log > ul {
    font-size: 0.75em;
    margin-left: 2em;
}

#log > ul > li {
    padding-bottom: .5em;
}

@media screen and (min-width: 768px) {
    
    #homepage h1 {
        font-size: 48px;
    }

    #homepage #banner {
        position: relative;
        min-height: 45vh;
        height: max-content;
        width: 70%;
        padding: 20vh 15% 15vh;
        overflow: hidden;
    }
    
    #homepage #banner > * {
        margin: 0;
        width: 70%;
    }

    #homepage main > section {
        width: 90%;
    }

}