:root {
    --main-color: #101010;
    --base-color: #faf5f5;
    --red: #c71818;
    --highlight-color: var(--red);
    --aux-color: #8a8080;
    --aux-color-2: #484848;
    --page-bg: var(--base-color);

    --main-font: 'Roboto Slab', serif;
    --aux-font: 'Roboto Condensed', serif;
    --display-font: 'Bowlby One SC';
}

*, ::before, ::after {
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    transition: inherit;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
}

html,body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--page-bg);
    font-size: 18px;
    position: absolute;
    z-index: -100;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 300;
    transition: all 0.3s linear;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

p {
    line-height: 1.25;
}

strong {
    font-weight: bolder;
}

em {
    font-style: normal;
    background-color: var(--aux-color);
    color: var(--base-color);
    padding: 0 .5ch;
}

a {
    text-decoration: none;
}

a:not(.clean) {
    color: var(--red);
    font-weight: bolder;
    background: linear-gradient(var(--red), var(--red));
    background-repeat: no-repeat;
    transition: all .1s linear;
    background-size: calc(100% - 2ch) 2px;
    background-position: 1ch 100%;
}

a:not(.clean):hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}

a.button {
    background: none;
    color: var(--base-color);
    background-color: var(--aux-color);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

main > section {
    width: 90%;
    margin: 0 auto 5%;
}

main > section:first-of-type {
    margin-top: 16vh;
}

ol,ul,li {
    padding: 0;
    margin: 0.5em 0;
}

li::marker {
    color: var(--highlight-color);
    font-weight: bold;
}

hr {
    width: 70%;
    margin: 5vh auto;
}

@media screen and (orientation: landscape) {

    html, body {
        font-size: 24px;
    }

    main > section {
        width: 90%;
    }

}

@media screen and (orientation: portrait) {

    .no-mobile {
        display: none;
    }

}